<div class="container">
  <div class="template-404 text-center p100">
    <p class="description">
      404
    </p>
    <h1 class="title">
      Page not found
    </h1>
    <a href="{{ routes.all_products_collection_url }}" class="btn btn-become">
      Continue Shopping
    </a>
  </div>
</div>